.body{
    /* padding: 2px; */
    /* border: 2px black solid; */
    display: grid;
    grid-template-areas:
    "title" 
    "display"
    "display-text";
    grid-template-columns: 99%;
    grid-template-rows: 10% 79% 10%;
    row-gap: 0;

    /* height: 98%; */

}

.header{
    font-size: 7vmin;
    grid-area: title;
}


.display{
    grid-area: display;
    font-weight: bold;
    border: black solid;
    border-bottom: 0px;
    /* width: 100%;
    height: 530px; */
}

.display-text{
    grid-area: display-text;
    font-weight: bold;
    border: black solid;
    /* width: 100%;
    height: 50px; */
}